.schedule-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  animation: fade-in ease-in 0.5s;
}

.schedule-body .sheet {
  display: flex;
  flex-direction: column;
  align-self: center; max-height: 50%;
}
.sheet .content {
  display: flex;
  flex-direction: column;
 
  overflow-y: auto;
}
.sheet .row {
  display: flex;
  max-width: 600px;
  flex: 1;
  flex-direction: row;
  border: #f4741f 1px solid;
}
.row.header p {
  font-weight: 400;
  color: rgb(156, 156, 156);
}
.row.title p {
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-align: center;
}
.sheet .row.title {
  background-color: #f4741f;
}
.row p,
.row input {
  flex: 1;
  margin: 0;
  min-width: 80px;
  padding: 5px;
  padding-left: 10px;
}
.row p.num {
  max-width: 40px;
}
.row .delete {
  flex: 1;
  justify-content: center;
  display: flex;
}

.row .delete img {
  width: 30px;
  height: 30px;
  align-self: center;
  display: none;
  padding: 5px;
}

.row .delete:hover img {
  display: flex;
}
